html
  head
    title APP
  body
    h1 Formulario
    form(method='POST' action='/register')
      div
        label(for="name") Nombre de la tarea
        input#name(type="text" name="name")
      button(type="submit") Guardar